@media screen and (max-width: 1515px) {
  .featured .featured-blog .featured-blog-content {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1400px) {
  body {
    padding-top: 75px;
    padding-left: 75px;
    padding-right: 45px;
  }
  .col-md-6, .col-md-8, .col-md-10 {
    padding-right: 30px;
    padding-left: 20px;
  }
  .menu-part .list-group {
    margin-top: 140px;
  }
  .menu-part .social {
    margin-top: 80px;
  }
  .blog-item h1 {
    margin-right: 40px;
    font-size: 30px;
    line-height: 40px;
  }
  .blog-item p {
    margin-right: 40px;
  }
  .subscribe {
    padding-right: 20px;
    padding-left: 20px;
  }
  .subscribe input {
    width: 290px;
  }
  .featured .featured-blog .featured-blog-content {
    margin-left: 0px;
  }
  .featured .featured-blog .featured-blog-content h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .about-me h1 {
    font-size: 40px;
    line-height: 55px;
  }
  .about-me p {
    margin-right: 25px;
  }
  .about-me h2 {
    font-size: 33px;
    line-height: 46px;
  }
  .about-me h3 {
    font-size: 28px;
  }
  .privacy h1, .contact h1 {
    font-size: 45px;
  }
  .contact {
    padding-left: 75px;
    padding-right: 75px;
  }
  .contact .col-md-6, .contact .col-md-12 {
    padding-left: 15px;
    padding-right: 15px;
  }
  footer {
    padding: 55px 45px 55px 14px;
  }
}

@media screen and (max-width: 1200px) {
  body {
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 40px;
  }
  .col-md-6, .col-md-8, .col-md-10 {
    padding-right: 35px;
    padding-left: 50px;
  }
  .bullet-point {
    width: 8px;
    height: 8px;
  }
  p {
    font-size: 14px;
  }
  .input-group {
    width: 85%;
  }
  .blog-item h1 {
    margin-right: 40px;
    font-size: 27px;
    line-height: 35px;
  }
  .subscribe input {
    width: 230px;
  }
  .featured .featured-blog .featured-blog-content h1 {
    font-size: 27px;
    line-height: 35px;
  }
  .featured .featured-blog .featured-blog-content .text-light {
    font-size: 15px;
  }
  .about-me h1 {
    font-size: 35px;
    line-height: 50px;
  }
  .about-me p {
    margin-right: 30px;
  }
  .about-me h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .about-me h3 {
    font-size: 22px;
  }
  .privacy h1, .contact h1 {
    font-size: 42px;
  }
  .contact {
    padding-left: 60px;
    padding-right: 60px;
  }
  .contact .col-md-6, .contact .col-md-12 {
    padding-left: 15px;
    padding-right: 15px;
  }
  footer {
    padding: 45px 45px 45px 14px;
  }
}

@media screen and (max-width: 1000px) {
  body {
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 10px;
  }
  .col-md-6, .col-md-8, .col-md-10, .col-md-7, .col-md-12, .col-md-9 {
    padding-left: 50px;
  }
  .bullet-point {
    width: 7px;
    height: 7px;
  }
  p, ol > li {
    font-size: 12px;
  }
  .input-group {
    width: 60%;
  }
  .blog-item h1 {
    margin-right: 30px;
    font-size: 24px;
    line-height: 30px;
  }
  .subscribe input {
    width: 175px;
  }
  .featured .featured-blog .featured-blog-content h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .featured .featured-blog .featured-blog-content .text-light {
    font-size: 13px;
  }
  .about-me h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .about-me p {
    margin-right: 30px;
  }
  .about-me h2 {
    font-size: 27px;
    line-height: 35px;
  }
  .about-me h3 {
    font-size: 18px;
  }
  .privacy h1, .contact h1 {
    font-size: 38px;
  }
  .privacy .heading-tagline p {
    font-size: 15px;
  }
  .contact {
    padding-left: 60px;
    padding-right: 60px;
  }
  .contact .col-md-6, .contact .col-md-12 {
    padding-left: 15px;
    padding-right: 15px;
  }
  footer {
    padding: 20px 45px 20px 14px;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 45px;
    padding-left: 15px;
    padding-right: 10px;
  }
  .navbar-expand-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .navbar {
    display: inherit;
    text-align-last: justify;
  }
  .menu-part {
    position: relative;
    display: block;
  }
  .menu-part a, .menu-part .nav-item {
    text-align-last: auto;
    margin-right: auto;
  }
  .menu-part .social {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .menu-part .list-group {
    margin-top: 30px;
    background-color: #1A191E !important;
  }
  .menu-part .show {
    background-color: #1A191E;
    border: none;
  }
  .menu-part .show .dropdown-item {
    margin-top: 0px;
  }
  .menu-part .dropdown:hover > .home-btn {
    margin-bottom: 0px;
    padding-bottom: 10px;
  }
  .menu-part .dropdown:hover > .dropdown-menu {
    border: none;
    margin-top: 0px;
    display: block;
    background-color: #1A191E;
  }
  .menu-part .dropdown:hover > .dropdown-menu .dropdown-item {
    margin-bottom: 10px;
  }
  .menu-part .navbar-toggler-icon {
    border: 4px solid;
  }
  .col-md-6, .col-md-8, .col-md-10, .col-md-7, .col-md-5, .col-md-12, .col-md-9 {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 20px;
  }
  .blog-item h1 {
    font-size: 28px;
    line-height: 35px;
  }
  .featured .featured-blog .featured-blog-content h1 {
    font-size: 28px;
    line-height: 35px;
  }
  .featured .featured-blog .featured-blog-content .text-light {
    font-size: 16px;
  }
  .input-group {
    width: 100%;
  }
  .subscribe input {
    width: 300px;
  }
  .about-me h1 {
    font-size: 28px;
    line-height: 38px;
  }
  .about-me p {
    margin-right: 30px;
  }
  .about-me h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .about-me h3 {
    font-size: 16px;
  }
  .privacy h1, .contact h1 {
    font-size: 36px;
  }
  .contact {
    padding-left: 60px;
    padding-right: 60px;
  }
  .contact .col-md-6, .contact .col-md-12 {
    padding-left: 15px;
    padding-right: 15px;
  }
  footer {
    padding: 20px 45px 20px 14px;
    max-height: 100%;
  }
}
