@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat:wght@300&display=swap&family=Roboto:wght@100&display=swap');

// color code
$body-color : #1A191E;
$secondary: #ffff;
$danger:#E4112F;
$box-color:#1D1C21;

//font style
%barlow-font{ 
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 500;
    color: $secondary;
}
%montserrat-font{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
}
//font style end

.bg-danger{
    background-color: $danger !important;
}
body{
    background-color: $body-color;
    padding-top: 80px;
    padding-left: 87px;
    padding-right: 50px;
}
.col-md-6,.col-md-8,.col-md-10,.col-md-7,.col-md-5,.col-md-12,.col-md-9 {
    padding-left:30px;
}
.navbar-nav {
    flex-direction: column !important;
}
.navbar-expand-md {
    flex-flow: column;
}

// menu part css start

.menu-part{
    position: fixed;
        .list-group{
            margin-top: 145px;
        }
         a,.home-btn{
            @extend %barlow-font;
            font-size: 20px;
            line-height: 16px;
            letter-spacing: 0.08em;
            text-decoration-line: none;
        }
        .home-btn{
            border: none;
            margin-bottom: 20px;
            
        }
        .list-group-item {
            padding-left: 0px;
        }
        .social {
            margin-top: 100px;
        }
        .show{
            background-color:$box-color ;
                .dropdown-item{
                    margin-top: 20px;
                }
        }
        .dropdown:hover>.home-btn{
            margin-bottom: 0px; 
            padding-bottom: 20px;    
        }
        .dropdown:hover>.dropdown-menu{
            margin-top: 0px;
            display: block;
            background-color:$box-color ;
            .dropdown-item{
                margin-bottom: 20px;
            } 
        }
        .dropdown-item.active, .dropdown-item:active {
            color: $body-color;
            text-decoration: none;
            background-color: #F8F9FA !important;
        }

        .list-group-item{
            background: none;
            border: none;
        }
        .language.dropdown-toggle{
            background: none;
            border: solid 1px;
        }
      
       button{
            padding: 3px 10px;
            border: 1px solid $secondary;
            border-radius: inherit;
            color: $secondary;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 15px;
            line-height: 16px;
       }
       
    }
// menu part css end


//global css ********************||||||||||||||||||||||||||||||||||||||||
   
    .fab{
        font-size: 18px;
        font-weight: 100 !important;
        margin-right: 29px;
        color:$secondary;
    }

.btn-read-more{
    @extend %barlow-font;
    background-color: $danger;
    border-radius: 0px;
    padding: 15px 28px;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.1em;
    border: none;
    
}
button:focus{
    outline: 0px !important;
}
%blog-title-font{
    @extend %barlow-font;
    font-size: 36px;
    padding-left: 15px;
    line-height: 48px;
    letter-spacing: 0.08em;
}
%blog-text-font{
@extend %montserrat-font;
font-size: 16px;
padding-left: 15px;
line-height: 26px;
color: #B0B0B0;
}
 h1,h2,h3{
    @extend %blog-title-font;
    padding-left: 0px;
    margin-top: 15px;
}
 p,ol>li{
    @extend %blog-text-font;
    padding-left: 0px;
    margin-top: 20px;
    color: #B0B0B0;
}
%text-border-bottom{
    border-bottom: 3px solid $danger;
}

.search{
    width: 400px;
    @extend %montserrat-font;
    font-size: 15px;
    line-height: 26px;
    color: #B0B0B0;
    margin-bottom: 25px;
    
    .form-control{
        background: #1D1C21;
        border: 1px solid #333139;
        box-sizing: border-box;
      
         height: 48px;
    }
    .input-group-text{
        background: none;
        color: $secondary;
        border: 1px solid #333139;
    }
}
.form-control:focus {
    box-shadow: none;
}
.card{
    background: none !important;
    border: none !important;
}
.card-body{
    padding-left: 0px;
}
.bullet-point{
    width: 10px;
    height: 10px;
    background: #E4112F;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 7px;
}
// global css end


    //Blog section css
.blog-item{
    padding-left: 5px;
    margin-bottom: 60px;
    h1{
        max-width: 599px;
    }
    p{
        max-width: 565px;
    }
    
    
}

// about-section css start
.side-bar{
       // padding-right: 40px;
}
.about-section{
    .about-text-border{
        @extend %text-border-bottom;
        max-width: 140px;
        margin: 10px auto;
        
    }
    p{
        max-width: 381px;
        margin: 20px auto;
    }
  
}

// subscribe section css

.subscribe{
    max-width: 410px;
    background-color: $box-color ;
    margin: 45px auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    p{
        max-width: 337px;
        margin: 20px auto;
    }
    input:focus{
        outline: none;
    }
    input{
        width: 350px;
        height: 48px;
        background: $box-color !important ;
        border: 1px solid #333139;
        box-sizing: border-box;
       @extend %montserrat-font;
        font-size: 15px;
        line-height: 26px;
        padding-left: 15px;
        color: #7B7B7B;
        margin-bottom: 30px;
    }
}
.featured{
    .featured-text-border{
        @extend %text-border-bottom;
        max-width: 234px;
        margin: 30px auto;
    }
    .featured-blog{
        margin-bottom: 50px;
        .featured-blog-content{
            //margin-left: 23px;
            h1{
                margin-bottom: 15px;
    
            }
            button{
                margin-top: 10px;
            }
        }
    }
}








// footer css
footer{
    background-color: $box-color;
    padding: 30px 45px 63px 14px;
    margin-left: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 1169px;
    
    h6{
        @extend %barlow-font;
        letter-spacing: 1px;
        font-size: 18px;
       
    }
    li{
        margin-top: 20px;
        a{
            @extend %montserrat-font;
            font-size: 14px;
            color: #7D7D7D;
        
        }
    }
   
}


// home page 2 ********************|||||||||||||||||||||||||




// about me Css**********************||||||||||||||||||||||
.about-me{
    h1{
        max-width: 762px;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 0.08em;
    }
    p{
        line-height: 28px;
        max-width: 828px;
        margin-top: 30px;
    }
    h2{
        max-width: 649px;
        margin-top: 35px;
        margin-bottom: 15px;
    }
  
    .about-text-details{
        h3{
            font-size: 24px !important;
            line-height: 26px !important;
            text-transform: capitalize !important;
            color: #F3F3F3;
        }
        p{
            max-width: 690px;
            margin-top: 10px;
        }
    }
    
   
}

// privacy section css************|||||||||||||||||||||||||

.privacy{
    h1{
        margin-top: 35px;
        font-size: 48px;
        line-height: 65px;
        text-transform: capitalize;
        font-weight: 900 !important;
    }
   .heading-tagline{
        p{
            font-size: 18px;
            line-height: 28px;
            color: #F0F0F0;
            max-width: 527px;
        }
   }
   .point-details{
    h3{
        font-size: 24px !important;
        line-height: 26px !important;
        text-transform: capitalize !important;
        color: #F3F3F3;
    }
    p{
        max-width: 860px;
        margin-top: 10px;
    }
}
}
// contact section css ***************|||||||||||||||||

.contact {
    margin-top: 60px;
    max-width: 970px;
    background-color: $box-color ;
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 50px;
    h1{
        margin-bottom: 50px;
        font-size: 48px;
        line-height: 43px;
    }
    .form-group{
        margin-top: 20px;
        label{
            @extend %montserrat-font;
            font-size: 14px;
            line-height: 17px;
            color: #F0F0F0;    
        }
        
        textarea{
            margin-top: 15px;
            height: 120px !important;
            color: #F8F9FA;
        }
        select{
            color: #737373;
        }
        input{
            color: #F8F9FA;
        }
        input,select,textarea{
            @extend %montserrat-font;
            font-size: 13px;
            line-height: 16px;
            font-size: 13px;
            line-height: 16px;
            
            background: none !important;
            border: none;
            border-bottom: 1px solid #333139 !important;
            border-radius: initial;
            height: 50px;
            padding-left: 0px;
            width: 100%;
        }
        .form-control:focus,select:focus{
            border: none;
            box-shadow: none;
            outline-color: 0px;
            outline: none;
           
        }
        select>option:focus{
            outline: none;
        }
        option{
            background-color:$box-color ;
        }

      
    }
    button{
        margin-top: 43px;
    margin-bottom: 71px;
    }

}

