@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat:wght@300&display=swap&family=Roboto:wght@100&display=swap");
.menu-part a, .menu-part .home-btn, .btn-read-more, h1, h2, h3, footer h6 {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: 500;
  color: #ffff;
}

p, ol > li, .search, .subscribe input, footer li a, .contact .form-group label, .contact .form-group input, .contact .form-group select, .contact .form-group textarea {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}

.bg-danger {
  background-color: #E4112F !important;
}

body {
  background-color: #1A191E;
  padding-top: 80px;
  padding-left: 87px;
  padding-right: 50px;
}

.col-md-6, .col-md-8, .col-md-10, .col-md-7, .col-md-5, .col-md-12, .col-md-9 {
  padding-left: 30px;
}

.navbar-nav {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.navbar-expand-md {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.menu-part {
  position: fixed;
}

.menu-part .list-group {
  margin-top: 145px;
}

.menu-part a, .menu-part .home-btn {
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.08em;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.menu-part .home-btn {
  border: none;
  margin-bottom: 20px;
}

.menu-part .list-group-item {
  padding-left: 0px;
}

.menu-part .social {
  margin-top: 100px;
}

.menu-part .show {
  background-color: #1D1C21;
}

.menu-part .show .dropdown-item {
  margin-top: 20px;
}

.menu-part .dropdown:hover > .home-btn {
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.menu-part .dropdown:hover > .dropdown-menu {
  margin-top: 0px;
  display: block;
  background-color: #1D1C21;
}

.menu-part .dropdown:hover > .dropdown-menu .dropdown-item {
  margin-bottom: 20px;
}

.menu-part .dropdown-item.active, .menu-part .dropdown-item:active {
  color: #1A191E;
  text-decoration: none;
  background-color: #F8F9FA !important;
}

.menu-part .list-group-item {
  background: none;
  border: none;
}

.menu-part .language.dropdown-toggle {
  background: none;
  border: solid 1px;
}

.menu-part button {
  padding: 3px 10px;
  border: 1px solid #ffff;
  border-radius: inherit;
  color: #ffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 16px;
}

.fab {
  font-size: 18px;
  font-weight: 100 !important;
  margin-right: 29px;
  color: #ffff;
}

.btn-read-more {
  background-color: #E4112F;
  border-radius: 0px;
  padding: 15px 28px;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.1em;
  border: none;
}

button:focus {
  outline: 0px !important;
}

h1, h2, h3 {
  font-size: 36px;
  padding-left: 15px;
  line-height: 48px;
  letter-spacing: 0.08em;
}

p, ol > li {
  font-size: 16px;
  padding-left: 15px;
  line-height: 26px;
  color: #B0B0B0;
}

h1, h2, h3 {
  padding-left: 0px;
  margin-top: 15px;
}

p, ol > li {
  padding-left: 0px;
  margin-top: 20px;
  color: #B0B0B0;
}

.about-section .about-text-border, .featured .featured-text-border {
  border-bottom: 3px solid #E4112F;
}

.search {
  width: 400px;
  font-size: 15px;
  line-height: 26px;
  color: #B0B0B0;
  margin-bottom: 25px;
}

.search .form-control {
  background: #1D1C21;
  border: 1px solid #333139;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 48px;
}

.search .input-group-text {
  background: none;
  color: #ffff;
  border: 1px solid #333139;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card {
  background: none !important;
  border: none !important;
}

.card-body {
  padding-left: 0px;
}

.bullet-point {
  width: 10px;
  height: 10px;
  background: #E4112F;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 7px;
}

.blog-item {
  padding-left: 5px;
  margin-bottom: 60px;
}

.blog-item h1 {
  max-width: 599px;
}

.blog-item p {
  max-width: 565px;
}

.about-section .about-text-border {
  max-width: 140px;
  margin: 10px auto;
}

.about-section p {
  max-width: 381px;
  margin: 20px auto;
}

.subscribe {
  max-width: 410px;
  background-color: #1D1C21;
  margin: 45px auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.subscribe p {
  max-width: 337px;
  margin: 20px auto;
}

.subscribe input:focus {
  outline: none;
}

.subscribe input {
  width: 350px;
  height: 48px;
  background: #1D1C21 !important;
  border: 1px solid #333139;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  line-height: 26px;
  padding-left: 15px;
  color: #7B7B7B;
  margin-bottom: 30px;
}

.featured .featured-text-border {
  max-width: 234px;
  margin: 30px auto;
}

.featured .featured-blog {
  margin-bottom: 50px;
}

.featured .featured-blog .featured-blog-content h1 {
  margin-bottom: 15px;
}

.featured .featured-blog .featured-blog-content button {
  margin-top: 10px;
}

footer {
  background-color: #1D1C21;
  padding: 30px 45px 63px 14px;
  margin-left: 5px;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 1169px;
}

footer h6 {
  letter-spacing: 1px;
  font-size: 18px;
}

footer li {
  margin-top: 20px;
}

footer li a {
  font-size: 14px;
  color: #7D7D7D;
}

.about-me h1 {
  max-width: 762px;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.08em;
}

.about-me p {
  line-height: 28px;
  max-width: 828px;
  margin-top: 30px;
}

.about-me h2 {
  max-width: 649px;
  margin-top: 35px;
  margin-bottom: 15px;
}

.about-me .about-text-details h3 {
  font-size: 24px !important;
  line-height: 26px !important;
  text-transform: capitalize !important;
  color: #F3F3F3;
}

.about-me .about-text-details p {
  max-width: 690px;
  margin-top: 10px;
}

.privacy h1 {
  margin-top: 35px;
  font-size: 48px;
  line-height: 65px;
  text-transform: capitalize;
  font-weight: 900 !important;
}

.privacy .heading-tagline p {
  font-size: 18px;
  line-height: 28px;
  color: #F0F0F0;
  max-width: 527px;
}

.privacy .point-details h3 {
  font-size: 24px !important;
  line-height: 26px !important;
  text-transform: capitalize !important;
  color: #F3F3F3;
}

.privacy .point-details p {
  max-width: 860px;
  margin-top: 10px;
}

.contact {
  margin-top: 60px;
  max-width: 970px;
  background-color: #1D1C21;
  padding-left: 95px;
  padding-right: 95px;
  padding-top: 50px;
}

.contact h1 {
  margin-bottom: 50px;
  font-size: 48px;
  line-height: 43px;
}

.contact .form-group {
  margin-top: 20px;
}

.contact .form-group label {
  font-size: 14px;
  line-height: 17px;
  color: #F0F0F0;
}

.contact .form-group textarea {
  margin-top: 15px;
  height: 120px !important;
  color: #F8F9FA;
}

.contact .form-group select {
  color: #737373;
}

.contact .form-group input {
  color: #F8F9FA;
}

.contact .form-group input, .contact .form-group select, .contact .form-group textarea {
  font-size: 13px;
  line-height: 16px;
  font-size: 13px;
  line-height: 16px;
  background: none !important;
  border: none;
  border-bottom: 1px solid #333139 !important;
  border-radius: initial;
  height: 50px;
  padding-left: 0px;
  width: 100%;
}

.contact .form-group .form-control:focus, .contact .form-group select:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline-color: 0px;
  outline: none;
}

.contact .form-group select > option:focus {
  outline: none;
}

.contact .form-group option {
  background-color: #1D1C21;
}

.contact button {
  margin-top: 43px;
  margin-bottom: 71px;
}
